{% extends 'base.html' %}

{% block title %}Location Details {% endblock %}
{% block content %}
        <div id="map"></div>
        <p>Reload the page to view your updated location!</p>
	<p id="countryText">You are in {{ country_name }}</p>
        <button onclick="updateLocation()">Update Location</button>
        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script>
            var map = L.map('map').setView([{{ location.y }}, {{ location.x }}], 100);
	    {% if location %}    
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
    
                L.marker([{{ location.y }}, {{ location.x }}]).addTo(map)
                    .bindPopup('<b>{{ user.username }}</b><br />')
                    .openPopup();
            {% else %}
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
           {% endif %}
        </script>
    
    <script>
        var marker;
        var circle;

        function updateMap(latitude, longitude, accuracy) {
            if (marker) {
                map.removeLayer(marker);
            }
            if (circle) {
                map.removeLayer(circle);
            }

            marker = L.marker([latitude, longitude]).addTo(map); 
            circle = L.circle([latitude, longitude], accuracy).addTo(map);
        }

        function updateLocation() {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
            var accuracy = position.coords.accuracy; 
            updateMap(latitude, longitude, accuracy);
            var csrfToken = document.getElementById('csrf_token').value;

            // Send location to Django view
            fetch('{% url "world:update_location" %}', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded', 'X-CSRFToken': csrfToken},
                body: 'latitude=' + latitude + '&longitude=' + longitude
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
		    document.getElementById('location-info').innerText = `You are in ${data.country}`;
                    console.log('Location updated successfully');
                } else {
		    console.error('Error updating location');
                    console.error('Error updating location');
                }
            });
        },
        function(error) {
            console.error('Error getting location:', error);
        }
    );
}
// Check if user has a saved location and display it on the map
{% if location %}
    updateMap({{ location.y }}, {{ location.x }}, 100);  // Replace 100 with desired accuracy
{% endif %}
</script>


{% endblock%}
